<!-- <p>login works!</p>
<div>
    <form action="" style="text-align: center;">
        Name : <input type="text" #uname><br><br>
        Pass : <input type="text" #upass><br><br>
        <input type="submit" value="log-in" (click)="login(uname.value,upass.value)">
        <input type="button" value="signin" (click)="signin(uname.value,upass.value)">
        <br>
        <br>

        <input type="button" value="inc" (click)="increment()">

        <img [src]="myimage" alt="image not found...!">

        <a routerLink="home"></a>


    </form>
    {{myusername}} <br>

        USER NAME : <input type="text" [(ngModel)]="myusername"> <br><br>
</div> -->


<!-- <div class="log-in-sec">
    <div class="total-sec" abc()>
        <div class="forminline">
            <input type="text" id="login-email" class="form-control" placeholder="Email address">
            <span id="log-mail-err"></span>
        </div>
        <div class="forminline">
            <input type="text" class="form-control" id="login-pass" placeholder="New password">
            <span id="log-pass-err"></span>
        </div>
        <div class="forminline">
            <input type="submit" class="form-control btn-primary" name="" id=""
                value="Login" style="background-color: #1877f2;">
        </div>
        <div class="fpass">
            <a href="">forgotten password?</a>
        </div>
        <div style="text-align: center;">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModal" style="background-color: #42b72a;">Create new
            account</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        Modal content

    
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign up</h4>
                <p>It's quick and easy.</p>
            </div>
            <div class="modal-body">
                <div class="forminline flex-con">
                    <div class="signin-name-sec">
                        <input type="text" id="sign-fname" class="form-control" #fname placeholder="First Name">
                        <span id="sign-fname-err"></span>
                    </div>
                    <div class="signin-name-sec">
                        <input type="text" id="sign-lname" class="form-control" #lname placeholder="Last Name">
                        <span id="sign-lname-err"></span>
                    </div>
                </div>
                <div class="forminline">
                    <input type="text" id="sign-mail" class="form-control" #email placeholder="Email address">
                    <span id="sign-mail-err"></span>
                </div>
                <div class="forminline">
                    <input type="password" id="sign-pass" class="form-control" #password placeholder="New password">
                    <span id="sign-pass-err"></span>
                </div>
                <div class="dob">
                    <p>Date of Birth<span class="glyphicon glyphicon-question-sign"></span></p>
                    <input type="date" id="birthday" name="birthday">
                    <input type="submit">
                </div>
                <div class="gent-cls">
                    <p>Genter<span class="glyphicon glyphicon-question-sign"></span>
                    </p>
                    <div class="gender">
                        <p>Female<input type="radio" name="gender"></p>
                        <p>Male<input type="radio" name="gender"></p>
                        <p>Custom<input type="radio" name="gender"></p>
                    </div>
                </div>
            </div>
            <p class="def">By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may
                receive SMS notifications from us and can opt out at any time.</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-success" (click)="login(fname.value,lname.value,email.value,password.value)">Sign up</button>
            </div>

        </div>

    </div>
</div> -->

<!-- <app-fruits></app-fruits> -->

<!-- <router-outlet></router-outlet> -->