<div>
    <form action="" style="text-align: center;">
        Upi  : <input type="text" #upi><br><br>
        Name : <input type="text" #name><br><br>
        Pnum : <input type="text" #pnum><br><br>
        Ac-no : <input type="text" #acno><br><br>
        I-bal : <input type="text" #ibal><br><br>
        A-bal : <input type="text" ><br><br>
        <input type="submit" value="save" (click)="save(upi.value,name.value,pnum.value,acno.value,ibal.value)">
        <br>
        <br>
    </form>
</div>