<!-- <p>fruits works!</p>


<input type="text" #fruit>:<input type="button" value="Add Fruit " (click)="addfruit(fruit.value)">
<ol>
    <li *ngFor="let fruitnames of fruits ">
            {{fruitnames}}
    </li>
</ol>


<div *ngFor="let day of days" >
    <div *ngIf="day=='Sunday' || day=='Saturday' ; else elseBlock">
        <h1>{{day}}: is weekend </h1>
    </div>
    <ng-template #elseBlock>
        <h1> {{day}}: week days </h1>
    </ng-template>
</div>

<div [ngClass]="{bgc:true,bdr:true}">
    <h1>hii</h1>
</div>

<div [ngStyle]="{'color':clr}">
    <h1>Ng-style</h1>
</div> -->

<!-- <div>
    <select [(ngModel)] = "value" [style.background-color]="value">
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
    </select>
</div> -->

<!--
<select (click)="font(val)" [(ngModel)] = "val">
    <option value="blue">Blue</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
</select> -->

<!-- <div [ngStyle] = "{'backround-color':clrrr}">
<h6>Hii</h6>

<select (change)="myClr(color.value)" #color>
    <option value="blue">Blue</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
</select>

</div> -->


<br>
