<h3>Template driven form</h3>

<div class="container form-sec">
  <div class="col-6">
    <h3>Log in</h3>
    <form #useform="ngForm" >
      <div class="mb-3 mt-3 form-group">
        <div>
          <label for="firstName" class="form-label">First Name:</label>
          <input type="text" required minlength="4" ngModel #fname="ngModel" class="form-control"
            placeholder="Enter firstName" name="fname" autocomplete="off">
            <div *ngIf="fname.invalid" class="invalid-feedback">
              <div *ngIf="fname.errors?.['required']  && fname.invalid && fname.touched">First Name is required</div>
              <div *ngIf="fname.errors?.['minlength']">First Name must be at least 4 characters</div>
            </div>
            <div *ngIf="fname.valid" class="valid-feedback">
              <div *ngIf="fname.valid">First Name is success</div>
            </div>
        </div>
        <div>
          <label for="lastName" class="form-label">Last Name:</label>
          <input type="text" required minlength="4" ngModel #lname="ngModel" class="form-control"
            placeholder="Enter LastName" name="lname">
            <div *ngIf="lname.invalid" class="invalid-feedback">
              <div *ngIf="lname.errors?.['required']  && lname.invalid && lname.touched">Last Name is required</div>
              <div *ngIf="lname.errors?.['minlength']">Last Name must be at least 4 characters</div>
            </div>
            <div *ngIf="lname.valid" class="valid-feedback">
              <div *ngIf="lname.valid">last Name is success</div>
            </div>
        </div>

        <div>
          <label for="pNumber" class="form-label">Phone Number:</label>
          <input type="text" required minlength="9" maxlength="10" ngModel #pnum="ngModel" class="form-control"
            placeholder="Enter Phone Number" name="pnum">
            <div *ngIf="pnum.invalid" class="invalid-feedback">
              <div *ngIf="pnum.errors?.['required']  && pnum.invalid && pnum.touched">Phone number is required</div>
              <div *ngIf="pnum.errors?.['minlength']">Enter 10 digit phone number</div>
            </div>
            <div *ngIf="pnum.valid" class="valid-feedback">
              <div *ngIf="pnum.valid">Phone number is success</div>
            </div>
        </div>
        

        <label for="email" class="form-label">Email:</label>
        <span class="text text-danger  star" *ngIf="email.invalid">*</span>
        <input type="email" required minlength="6" ngModel #email="ngModel" class="form-control"
          placeholder="Enter email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  autocomplete="off">
        <!-- <span class="text text-danger" *ngIf="email?.touched && email.invalid">Pls enter valid email</span>
                <span class="text text-success" *ngIf="email.valid">Email is Success...!</span>
                <span class="text text-success" *ngIf="email.errors?.['minlength']"></span> -->

        <div *ngIf="email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors?.['required'] && email.invalid && email.touched">email is required</div>
        </div>

        <div *ngIf="email.touched" class="invalid-feedback">
          <!-- <div *ngIf="email.errors?.['required'] && email.invalid && email.touched">email is required</div> -->
          <!-- <div *ngIf="email.errors?.['minlength']">Password must be at least 6 characters</div> -->
          <div *ngIf="email.errors?.['pattern']">This is not a valid Email...!</div>
        </div>
        <div *ngIf="email.valid" class="valid-feedback">
          <div *ngIf="email.valid">email is success</div>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="pswd" class="form-label">Password:</label>
        <span class="text text-danger star" *ngIf="pswd.invalid">*</span>
        <input type="password" required minlength="6" ngModel #pswd="ngModel" class="form-control" id="pwd"
          placeholder="Enter password" name="pswd">
        <!-- <span class="text text-danger" *ngIf="pswd.touched && pswd.invalid">Pls enter password</span>
        <span class="text text-danger" *ngIf="pswd.errors?.['minlength']">Password is more than 2...!</span>
        <span class="text text-danger" *ngIf="pswd.valid">Password is more than 2...!</span> -->
        <div *ngIf="pswd.invalid" class="invalid-feedback">
          <div *ngIf="pswd.errors?.['required']  && pswd.invalid && pswd.touched">Password is required</div>
          <div *ngIf="pswd.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
        <div *ngIf="pswd.valid" class="valid-feedback">
          <div *ngIf="pswd.valid">Password is success</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="terms" ngModel name="terms" #terms="ngModel" value="" required>
          <label class="form-check-label" for="terms">
            Agree to terms and conditions
          </label>
          <div *ngIf="terms?.touched && terms?.invalid" class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="useform.invalid">Submit</button>
    </form>
  </div>

  <!-- <div col-6>
        <div class="container mt-5 mb-5">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" ngModel name="firstName" #firstName="ngModel" placeholder="First name" required>
                  <div *ngIf="firstName?.touched && firstName?.invalid" class="invalid-feedback">
                    Please choose a first name.
                  </div>
                </div>
          
                <div class="col-md-4 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" ngModel name="lastName" #lastName="ngModel" placeholder="Last name" required>
                  <div *ngIf="lastName?.touched && lastName?.invalid" class="invalid-feedback">
                    Please choose a last name.
                  </div>
                </div>
          
                <div class="col-md-4 mb-3">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" ngModel name="username" #username="ngModel" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                    <div *ngIf="username?.touched && username?.invalid" class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="form-row" ngModelGroup="address">
                <div class="col-md-3 mb-3">
                  <label for="street">Street</label>
                  <input type="text" class="form-control" id="street" ngModel name="street" #street="ngModel" placeholder="Street" required>
                  <div class="invalid-feedback" *ngIf="street?.touched && street?.invalid">
                    Please provide a valid street.
                  </div>
                </div>
          
                <div class="col-md-3 mb-3">
                  <label for="suburb">Suburb</label>
                  <input type="text" class="form-control" id="suburb" ngModel name="suburb" #suburb="ngModel" placeholder="State" required>
                  <div class="invalid-feedback" *ngIf="suburb?.touched && suburb?.invalid">
                    Please provide a valid suburb.
                  </div>
                </div>
          
                <div class="col-md-3 mb-3">
                  <label for="suburb">City</label>
                  <input type="text" class="form-control" id="city" ngModel name="city" #city="ngModel" placeholder="State" required>
                  <div class="invalid-feedback" *ngIf="city?.touched && city?.invalid">
                    Please provide a valid city.
                  </div>
                </div>
          
                <div class="col-md-3 mb-3">
                  <label for="suburb">Zipcode</label>
                  <input type="text" class="form-control" minlength="5" id="zipcode" ngModel name="zipcode" #zipcode="ngModel" placeholder="State" required>
                  <div class="invalid-feedback" *ngIf="zipcode.errors?.['minlength']">
                    Please provide a valid zipcode.
                  </div>
                </div>
                
              </div>
          
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="terms" ngModel name="terms" #terms="ngModel" value="" required>
                  <label class="form-check-label" for="terms">
                    Agree to terms and conditions
                  </label>
                  <div *ngIf="terms?.touched && terms?.invalid" class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
            </form>
          </div>

    </div> -->
</div>